<!--Modal: modalConfirmDelete-->
<div class="modal fade" mdbModal id="modalConfirmDeletes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabels"
     aria-hidden="true">
  <div class="modal-dialog modal-md modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header d-flex">
        <p class="heading">A aparut o eroare...</p>
      </div>

      <!--Body-->
      <div class="modal-body text-center">

        {{ message }}

      </div>

    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalConfirmDelete-->